@media(max-width:500px) {

    #container,
    aside {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    aside div {
        width: 100%;
        min-width: 300px;
        padding: 0;
        margin: 10px;
        height: 250px;
    }

}

@media (max-width: 720px) {
    #container {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }

    aside {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 100%;

    }

    aside div {
        width: 70%;

    }
}

@media(max-width:1080px) {
    #container {
        width: 100%;
        display: flex;
        justify-content: center;
        flex-direction: row;
    }

    #principal {
        width: 90%;
        padding: 0 10px;
    }

    #principal nav .top {
        width: 100%;
    }

    #principal nav .links div {
        width: 48%;
        background-color: #2f2e3b;
        height: 100px;
        border-radius: 10px;
        padding: 10px;

    }
}